body {
  background-color: rgb(39, 2, 73);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

ul {
  border: 1px solid;
  background-color: rgb(133, 21, 99);

}

li {
  list-style: none;

  color: rgb(88, 81, 81);
  padding: 10px;
  border: 1px solid white;
}

#left,
#right {
  height: 300px;
  width: 200px;
  border: 1px solid wheat;
}