body {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
div {
  height: 150px;
  width: 150px;
  border: 1px solid red;
  padding: 20px;
  position: absolute;
  transition: left 0.2s, top 0.2s;
}
button {
  padding: 10px;
  background-color: green;
  color: rgb(135, 194, 135);
  border-radius: 5px;
  border: none;
  max-width: fit-content;
}
