body {
  height: 100dvh;
  position: relative;
}
div {
  height: 150px;
  width: 150px;
  border: 1px solid red;
  position: absolute;
}
/* button {
  padding: 10px;
  background-color: green;
  color: rgb(135, 194, 135);
  border-radius: 5px;
  border: none;
  max-width: fit-content;
} */
