table {
  border: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
button {
  padding: 10px;
  background-color: green;
  color: rgb(135, 194, 135);
  border-radius: 5px;
  border: none;
  max-width: fit-content;
}
