body {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
div {
  height: 300px;
  width: 300px;
  border: 1px solid red;
  padding: 20px;
}
button {
  padding: 10px;
  background-color: green;
  color: rgb(135, 194, 135);
  border-radius: 5px;
  border: none;
}
