body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  gap: 20px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px;
  background-color: green;
  color: rgb(135, 194, 135);
  border-radius: 5px;
  border: none;
}
